<script type="text/javascript" charset="utf-8">
  $(function(){ 
     $("#voteup").click(function(){
         $.get("<%= voteup_url %>")
     });
     return false;
    })

  $(function(){ 
     $("#votedown").click(function(){
        $.get("<%= votedown_url %>")
     });
     return false;
    })
</script>

	<div class="span-19">
		<div id="video-youtube-position">
			<div class="youtube_video">
			  <object width="760" height="440">
			    <param name="movie" value="<%=@video.url%>"></param>
			    <param name="wmode" value="transparent"></param>
			    <embed src="<%=@video.url%>" type="application/x-shockwave-flash" wmode="transparent" width="760" height="440"></embed>
			  </object>
			</div>
		</div>
	</div>
	
	<div class="span-5 last">
	
		<div id="video-sidebar">
			
			<div id="video-sidebar-course-name">
			<h4><%= @video.lesson.name %></h4>
			 <h5>by <%= link_to @video.user.name, @video.user %> </h5>
			</div>

			<div id="video-sidebar-voting">
			  <%= link_to "+", "#", :id => "voteup" %> <br />
			  <%= link_to "-", "#", :id => "votedown" %>
			</div>

			
	
			<div id="arrow-position">
				<% unless @course.lessons.first == @lesson %> 
				<%= link_to image_tag('/images/project/arrow/arrow_left2.gif', :onmouseover=>"this.src='/images/project/arrow/arrow_left2a.gif'", :onmouseout=>"this.src='/images/project/arrow/arrow_left2.gif'", :class=>"arrow", :id =>"left-arrow"), lesson_path(@video.lesson.previous) %>
				<% end %>
				
				<% unless @course.lessons.last == @lesson%>
				<%= link_to image_tag('/images/project/arrow/arrow_right2.gif', :onmouseover=>"this.src='/images/project/arrow/arrow_right2a.gif'", :onmouseout=>"this.src='/images/project/arrow/arrow_right2.gif'", :class=>"arrow", :id =>"right-arrow"), lesson_path(@video.lesson.next)  %>
				<% end %>
			</div>
			
				
				<h4><%= link_to @video.lesson.course.name, course_path(@video.lesson.course) %></h4>
			<div class="span-5 last">
				<ul id="nav">
					<li>
						<h1><a href="#"><%= @video.lesson.number.to_s + "/" + @video.lesson.course.lessons.count.to_s %> </a></h1>
						<ul>
							<% @course.lessons.each do |v| %>
							<li><%= link_to (truncate(v.name, :length =>30)), v %></li>
							<% end %>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<% if signed_in? %>
	<div class="span-24">
	<%= link_to "Can you teach this better?", new_lesson_video_path %> 
	</div>
	<% end %>
	
<% if @video.lesson.videos.length > 1 %>

	<div class="span-24" id="bottom-left">
	
		<h3> This Lesson by Other Users: </h3>
			
		<div class="span-24" id="bottom-left-course">

			<% @video.lesson.videos.each do |v| %>
				  <% if v.id != @video.id %>
				
				<div class="span-3" id="bottom-left-lesson">
					<%= link_to image_tag (v.thumbnail_url), lesson_video_path(@video.lesson, v) %>
					<%= link_to v.user.name, v.user %>
				</div>
				<% end %>
			
			<% end %>
		</div>
		
		
	</div>

<% end %>

<div id="facebook">
	<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=148282195232426&amp;xfbml=1"></script><fb:comments href=<%= @video.url %> num_posts="20" width="760"></fb:comments>
</div>

	
</div>
