<p><%=  @lesson.name %> <%= link_to "(Full Course Details)", course_path(@lesson.course) %></p>
<%= @lesson.videos.each_with_index do |v,i| %>
<% if i == 0 %>
<div class="youtube_video">
  <object width="425" height="355">
    <param name="movie" value="<%=v.url%>"></param>
    <param name="wmode" value="transparent"></param>
    <embed src="<%=v.url%>" type="application/x-shockwave-flash" wmode="transparent" width="425" height="355"></embed>
  </object>
</div>
<%= link_to 'Previous Lesson', lesson_path(@lesson.previous) %>
<%= link_to 'Next Lesson', lesson_path(@lesson.next) %>
<% else %>
<% if i == 1 %>
<p>Alternaive Videos for <%= @lesson.name %> <%= link_to "Learn more about our Alternaive Videos", "#" %></p>
<% end %>
<%= link_to image_tag (v.thumbnail_url), lesson_video_path(@lesson, v) %>
<% end %>
<% end %>
<p><%= link_to "Course Details", course_path(@lesson.course) %></p>
